name: Main workflow

on:
  pull_request:
  workflow_dispatch:
    inputs:
      yarnVersionArgs:
        description: 'Arguments for "yarn version"'
        required: true
        default: "patch"

jobs:
  run-pr:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/pr1.yml

  run-release:
    if: github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/master'
    uses: ./.github/workflows/release1.yml
    with:
      yarnVersionArgs: ${{ github.event.inputs.yarnVersionArgs }}
