name: Master Build
on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: install, build, and test
        run: |
          NPQ_PKG_MGR=yarn npx npq install
          yarn build
          yarn test
        env:
          CI: true
