name: Pull Request Build

on: pull_request

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 20
      - run: yarn
      - run: yarn build
      - run: yarn test

      - name: Bump version
        run: |
          git reset --hard
          echo yarn version "0.0.0-pr$PR_ID.$BUILD_NUMBER"
          yarn version "0.0.0-pr$PR_ID.$BUILD_NUMBER"
          git status -vv
          yarn build
          git add . || true
          git commit -m "Bump prerelease version" || true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR_ID: ${{ github.event.number }}
          BUILD_NUMBER: ${{ github.run_number }}

      - name: npm publish
        run: |
          echo PR package tag is [pr$PR_ID.$BUILD_NUMBER]
          npm config set //registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN
          npm publish --tag "pr$PR_ID.$BUILD_NUMBER"
        env:
          NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
          PR_ID: ${{ github.event.number }}
          BUILD_NUMBER: ${{ github.run_number }}
