name: Pull Request Build

on:
  workflow_call:

permissions:
  id-token: write # for npm Trusted Publishing
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # IMPORTANT: full history for yarn version

      - name: Setup Node with trusted publishing
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: Set PR version
        run: |
          echo "DEPLOY_PREVIEW_VERSION=0.0.0-pr$PR_ID.$BUILD_NUMBER" >> $GITHUB_ENV
          echo "DEPLOY_PREVIEW_TAG=pr$PR_ID.$BUILD_NUMBER" >> $GITHUB_ENV
        env:
          PR_ID: ${{ github.event.number }}
          BUILD_NUMBER: ${{ github.run_number }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build packages
        run: yarn build

      - name: Run tests
        run: yarn test

      - name: Bump versions
        run: |
          echo "GH_EMAIL=[${GH_EMAIL}]"
          echo "GH_USER=[${GH_USER}]"
          echo "GITHUB_TOKEN starts with: [${GITHUB_TOKEN:0:3}]***"
          git reset --hard
          echo "Deploy preview version: '$DEPLOY_PREVIEW_VERSION'"

          # Bumping versions in both workspaces
          yarn workspace repluggable-core version "$DEPLOY_PREVIEW_VERSION"
          yarn workspace repluggable version "$DEPLOY_PREVIEW_VERSION"

          # Adding the new version of repluggable-core to repluggable
          export CORE_VERSION=$(npm pkg get version --workspace=repluggable-core | jq -r '."repluggable-core"')
          echo "repluggable-core version is $CORE_VERSION, adding it to repluggable"
          yarn workspace repluggable add repluggable-core@$CORE_VERSION

          git add . || true
          git commit -m "Bump prerelease version" || true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          GH_EMAIL: ${{secrets.GH_EMAIL}}
          GH_USER: ${{secrets.GH_USER}}

      # ---- PUBLISH WITH TRUSTED PUBLISHING ----

      - name: npm publish repluggable-core (trusted)
        run: |
          echo "Publishing repluggable-core with tag: [$DEPLOY_PREVIEW_TAG]"
          npm publish --workspace repluggable-core --tag "$DEPLOY_PREVIEW_TAG" 
          echo "::notice::repluggable-core@$DEPLOY_PREVIEW_VERSION"

      - name: npm publish repluggable (trusted)
        run: |
          echo "Publishing repluggable with tag: [$DEPLOY_PREVIEW_TAG]"
          npm publish --workspace repluggable --tag "$DEPLOY_PREVIEW_TAG" 
          echo "::notice::repluggable@$DEPLOY_PREVIEW_VERSION"
