name: Bump And Publish

on:
  workflow_call:
    inputs:
      yarnVersionArgs:
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 20

      - name: Setup GIT
        run: |
          echo "trying release 1"
          git reset --hard
          git config --local --list
          git checkout master
          git config user.email "$GH_EMAIL"
          git config user.name "$GH_USER"
        env:
          GH_EMAIL: ${{secrets.GH_EMAIL}}
          GH_USER: ${{secrets.GH_USER}}

      - name: Bump version
        run: |
          git reset --hard
          yarn workspace repluggable-core version ${{ github.event.inputs.yarnVersionArgs }}
          yarn workspace repluggable version ${{ github.event.inputs.yarnVersionArgs }}
