name: Bump And Publish

on:
  workflow_dispatch:
    inputs:
      yarnVersionArgs:
        description: 'Arguments for "yarn version"'
        required: true
        default: "patch"

permissions:
  id-token: write # REQUIRED for npm Trusted Publishing
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # full history for yarn version

      - name: Setup Node with trusted publishing
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - run: yarn
      - run: yarn build
      - run: yarn test

      - name: Setup GIT
        run: |
          git reset --hard
          git config --local --list
          git checkout master
          git config user.email "$GH_EMAIL"
          git config user.name "$GH_USER"
        env:
          GH_EMAIL: ${{secrets.GH_EMAIL}}
          GH_USER: ${{secrets.GH_USER}}

      - name: Bump version
        run: |
          git reset --hard
          yarn workspace repluggable-core version ${{ github.event.inputs.yarnVersionArgs }}
          yarn workspace repluggable version ${{ github.event.inputs.yarnVersionArgs }}
          export NEW_CORE_RELEASE_VERSION=$(npm pkg get version --workspace=repluggable-core | jq -r '."repluggable-core"')
          export NEW_REPLUGGABLE_RELEASE_VERSION=$(npm pkg get version --workspace=repluggable | jq -r '."repluggable"')
          echo repluggable-core New Release Version is: [$NEW_CORE_RELEASE_VERSION]
          echo repluggable New Release Version is: [$NEW_REPLUGGABLE_RELEASE_VERSION]
          yarn workspace repluggable add repluggable-core@$NEW_CORE_RELEASE_VERSION
          yarn build
          yarn test
          git add . || true
          git commit -m "Release v$NEW_REPLUGGABLE_RELEASE_VERSION" || true
          git tag -a "v$NEW_REPLUGGABLE_RELEASE_VERSION" -m "Release v$NEW_REPLUGGABLE_RELEASE_VERSION"
          git push "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY"
          git push "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY" --tags
          echo "::notice::repluggable-core@NEW_CORE_RELEASE_VERSION"
          echo "::notice::repluggable@NEW_REPLUGGABLE_RELEASE_VERSION"

      # ---- PUBLISH WITH TRUSTED PUBLISHING ----

      - name: npm publish repluggable-core (trusted)
        run: |
          npm publish --workspace repluggable-core

      - name: npm publish repluggable (trusted)
        run: |
          npm publish --workspace repluggable
